$("#js-modal .modal").modal('hide');

$("#js-modal").html("#{escape_javascript(render :partial => 'js_form', :locals => {:question => @question})}");
$("#js-modal .modal").modal();
new Rapidfire.QuestionForm($("#js-modal #new_question"));
