%h2
  Questions
  .pull-right
    = link_to "New Question", new_question_group_question_path(@question_group),
      :remote => true, :class => "btn btn-primary btn-small"
%hr

%table.table.table-striped.table-bordered
  %colgroup
    %col
    %col{ :width => 250 }
  %thead
    %tr
      %th Question
      %th
  %tbody
    - @questions.each do |question|
      %tr{ :id => "question_#{question.id}" }
        = render :partial => "question", :locals => { :question_group => @question_group, :question => question }
#js-modal
