%h2
  Questions
  = link_to "New Question", new_question_group_question_path(@question_group), remote: true
%hr

#js-form

%table
  %colgroup
    %col
    %col{ width: 250 }
  %thead
    %tr
      %th Question
      %th
  %tbody
    = render partial: "question", collection: @questions
