$("#js-modal .modal").modal('hide');

- if @question_group.errors.empty?
  $("<tr>").attr("id", "question_group_{@question_group.id}").appendTo("tbody").html("#{escape_javascript(render :partial => 'question_group', :locals => {:question_group => @question_group})}")
- else
  $("#js-modal").html("#{escape_javascript(render :partial => 'js_form', :locals => {:question_group => @question_group})}");
  $("#js-modal .modal").modal();
