%h2
  Question Groups
  = link_to "New Group", new_question_group_path, :remote => true
%hr

#js-form

%table
  %colgroup
    %col
    %col{ width: 250 }
  %thead
    %tr
      %th Question Group
      %th
  %tbody
    = render partial: "question_group", collection: @question_groups
