<h2>
  Surveys
</h2>
<h3>
  <% if can_administer? %>
    <%= link_to "New Survey", new_survey_path %>
  <% end %>
</h3>
<h4>
  <%= link_to t('Back to home'), '/' %>
</h4>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Survey</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "survey", collection: @surveys %>
  </tbody>
</table>

<% if defined?(Kaminari) %>
  <%= paginate @surveys %>
<% end %>
