<div class="survey-attempt-form">
<h2>Surveys</h2>
<p class="survey-title"><% if can_administer? %>
    <%= link_to "New Survey", new_survey_path %>
  <% end %>
</p>
<h4>
  <%= link_to t('Back to home'), '/' %>
</h4>
<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Survey</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "survey", collection: @surveys %>
  </tbody>
</table>
</div>
<% if defined?(Kaminari) %>
  <%= paginate @surveys %>
<% end %>
