<h1>Results</h1>
<%= link_to "Download CSV", results_survey_path(id: params[:id], format: :csv) %>
<%- @survey_attempts.each do |attempt| %>
  <div class="flex justify between">
    <h4>User : <%= attempt.user_id %></h4>
    <%= link_to "View Answers", survey_result_path(@survey, attempt.id) %>
  </div>
<% end %>
